<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeiXinBarCodeImitate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>20F2C8031E10AD7200BB3990</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20F2C81C1E10AD7300BB3990</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20F2C8271E10AD7300BB3990</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
